:root {
  --main-color-text: #434455;
  --secondary-color-text: #2e2f42;
  --white-color: #ffffff;
  --logo-color: #4d5ae5;
  --border-color-btn: #e7e9fc;
  --background-color: #e5e5e5;
  --secondary-background-color: #f4f4fd;
  --button: #404bbf;
  --hero-bg: rgba(46, 47, 66, 0.7);
  --border-color: #8e8f99;
  --social-icons: #f4f4fd;
  --footer-icons: #31d0aa;
  --modal-color: #fcfcfc;
  --modal-bgc: rgba(46, 47, 66, 0.4);
}

/**
  |============================
  | Header
  |============================
*/
.container {
  max-width: 428px;
  width: 100%;
  padding: 0 16px;
}

.nav-list {
  display: none;
}

.header-btn-menu {
  display: flex;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}

.address {
  display: none;
}

/**
  |============================
  | Hero
  |============================
*/

.hero {
  background-image: none;
  padding: 112px 38px;
  background-image: linear-gradient(var(--hero-bg), var(--hero-bg)),
    url(../images/webstudio/background/mob/office@x1.jpg);
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(var(--hero-bg), var(--hero-bg)),
      url(../images/webstudio/background/mob/office@x2.jpg);
  }
}

.hero-title {
  font-size: 36px;
  line-height: 1.11;
  margin-bottom: 72px;
  max-width: 320px;
}

/**
  |============================
  | Advantages
  |============================
*/

.advantages {
  padding-top: 96px;
  padding-bottom: 96px;
}

.advantages-container {
  display: none;
}

.advantages-list {
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.advantages-list-item {
  max-width: 396px;
}

.advantages-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.advantages-desc {
  font-weight: 500;
}

/**
  |============================
  | What are we doing
  |============================
*/

.works {
  display: none;
}

/**
  |============================
  | Our team
  |============================
*/

.our-team {
  padding: 96px 82px;
}

.our-team-list {
  flex-wrap: wrap;
  gap: 72px;
}

/**
  |============================
  | Customers
  |============================
*/

.customers {
  max-width: 428px;
  padding-top: 96px;
  padding-bottom: 96px;
}

.customers-list {
  gap: 16px;
  row-gap: 72px;
}

.customers-item {
  width: calc((100% - 16px) / 2);
}

/**
  |============================
  | Footer
  |============================
*/

.footer {
  padding: 96px 0;
}

.footer-primary-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.footer-link {
  display: block;
  padding: 0;
  text-align: center;
  margin-bottom: 16px;
}

.logo {
  padding: 0;
}

.footer-second-container {
  display: flex;
  flex-direction: column;
}

.seconfary-container {
  display: flex;
  align-items: center;
}

.footer-desc-social {
  margin-bottom: 16px;
  margin-left: auto;
  margin-right: auto;
}

.subcribe {
  margin: 0;
  width: 100%;
}

.subcribe-text {
  text-align: center;
}

.subcribe-form {
  flex-direction: column;
  align-items: normal;
  justify-content: normal;
}

.subcribe-email {
  width: 100%;
  opacity: 0.3;
}

.subcribe-btn {
  width: 165px;
  margin-left: auto;
  margin-right: auto;
}

/**
  |============================
  | Burger menu
  |============================
*/

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  display: flex;
  flex-direction: column;
  background-color: var(--white-color);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateX(100%);
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-list {
  display: flex;
  flex-direction: column;
  padding-top: 80px;
  padding-left: 40px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--secondary-color-text);
  gap: 40px;
  margin-bottom: auto;
}

.is-active-web {
  color: var(--button);
}

.menu-address {
  display: flex;
  flex-direction: column;
  gap: 40px;
  padding-left: 40px;
}

.menu-address-item-tel {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--logo-color);
}

@media screen and (max-width: 400px) {
  .menu-address-item-tel {
    font-size: 28px;
  }
}

.menu-address-item-email {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-color-text);
}

.menu-social {
  max-width: 328px;
  margin-right: 40px;
  display: flex;
  flex-wrap: nowrap;
  margin-top: 48px;
  margin-bottom: 40px;
  margin-left: 40px;
  justify-content: space-between;
}

/**
  |============================
  | Portfolio
  |============================
*/

.portfolio-list-btn {
  justify-content: flex-start;
  flex-wrap: wrap;
}

.production-box {
  width: 396px;
}
